<div class="clearfix">
  <form ng-Submit="post()" ng-show="authenticated">
    <h4>{{current_twip}} says</h4>
    <textarea required class="form-control" maxlength="200" rows="3" placeholder="Say something" ng-model="newPost.text"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Chirp!" />
  </form>
</div>
<div id="post-stream">
	<h4>Twit Feed</h4>
		<div class="post" ng-repeat="twit in twits | orderBy:'created_at':true" ng-class-odd="'odd'" ng-class-even="'even'">
			<p>{{twit.text}}</p>
			<small>Posted by @{{twit.created_by}}</small>
			<small class="pull-right">{{twit.created_at | date:"h:mma 'on' MMM d, y"}}</small>
		</div>
</div>